<configuration>
  
  <conversionRule conversionWord="vcl" converterClass="io.reactiverse.contextual.logging.LogbackConverter"/>
 
   <!--
  <appender name="AXIOM-APPLOG" class="com.romanpierson.logback.vertx.elasticsearch.appender.LogbackElasticSearchAppender" level="info">
  	<instanceIdentifier>axiom-applicationlog</instanceIdentifier>
  	<indexProperties>host,${HOSTNAME},level,%level,thread,%thread,message,%message,stacktrace,%ex,stacktraceHash,%exhash,logger,%logger</indexProperties>
  </appender>
  -->
  
  <appender name="ES-APPLOG" class="com.romanpierson.logback.vertx.elasticsearch.appender.LogbackElasticSearchAppender" level="info">
  	<instanceIdentifier>es-applicationlog-nossl-ev-ts</instanceIdentifier>
  	<indexProperties>host,${HOSTNAME},level,%level,thread,%thread,message,%message,stacktrace,%ex,stacktraceHash,%exhash,logger,%logger</indexProperties>
  </appender>
  
  
  <appender name="ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>${access.location}/access-4x.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
    	<fileNamePattern>access-4x.%d{yyyy-MM-dd}.log</fileNamePattern>
		<maxHistory>10</maxHistory>
    </rollingPolicy>
    <encoder>
     	<pattern>%msg%n</pattern>
    	<immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  
  <!--
	<appender name="ACCESS_FILE_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
  		<discardingThreshold>0</discardingThreshold>
  		<queueSize>500</queueSize>
  		<maxFlushTime>5000</maxFlushTime>
 		<appender-ref ref="ACCESS_FILE" />
 	</appender>
  -->
  

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="info">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%vcl{requestId:--}] %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="accesslog" level="info" additivity="false">
      <appender-ref ref="ACCESS_FILE" />
    </logger>
    
  <root level="info">
    <appender-ref ref="STDOUT" />
    <!--<appender-ref ref="AXIOM-APPLOG" />-->
    <appender-ref ref="ES-APPLOG" />
    
  </root>
  
</configuration>